%h4 #{t.blog.title}
%p.muted 
  #{t.blog.explanation}

- entries.each do |entry|
  %div.span6.post_block
    %p.muted.pull-right(title="#{entry[:written]}")
      #{entry[:written]}
    %h5
      %a(href="/#{@locale}/blog/post/#{entry[:link]}") #{entry[:title]}
      %p.muted
        #{entry[:preview].to_s}