!!!
%html
  %head
    - string = defined?(@title) ? "#{@title}" : "#{t.site.title}"
    %title David Silveira - #{string}
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0, maximum-scale=1.0' }
    %link(rel="stylesheet" href="/v4/css/bootstrap.min.css")
    %link(rel="stylesheet" href="/v4/css/style.css")
    %link(rel="stylesheet" href="/v4/font-awesome/css/font-awesome.min.css" type="text/css")
    %link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700" type="text/css")
    %link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"  type="text/css")
  %body.preview(data-spy='scroll' data-target='.subnav' data-offset='0' id="page-top" class="index")
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header-page-scroll
          %button.navbar-toggle(data-toggle="collapse" data-target="main-menu")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand(href="/") david.silveira
          #main-menu.navbar-collapse.collapse
            %ul.nav.navbar-nav.navbar-right
              %li
                %a(href="/#{@locale}") #{t.site.menu.home}
              %li
                %a(href="/#{@locale}/blog") #{t.site.menu.blog}
              %li
                %a(href="/#{@locale}/notes") #{t.site.menu.about}
              %li.dropdown
                %a.dropdown-toggle(href="#" data-toggle="dropdown") #{t.site.menu.languages}
                %ul.dropdown-menu(id="swatch-menu")
                  - r18n.available_locales.each do |locale|
                    %li
                      %a( href="/#{locale.code}" )= locale.title
    #wrapper.container
      %header
        %div.phrase
          "...#{t.phrases.sample}..."

      #content
        = yield
    %footer.container
      %div.wrapper
        %p
          #{t.site.footer.credits}
          %a(href='http://www.sinatrarb.com/') Sinatra
          , 
          %a(href='http://www.haml.com/') HAML
          #{t.site.and}  
          %a(href='http://twitter.github.com/bootstrap/') Twitter Bootstrap
    %script(src='https://code.jquery.com/jquery-1.10.2.min.js')
    %script(src='/v4/js/bootstrap.min.js')
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7541162-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();