!!!
%html
  %head
    %title David Silveira - #{t.site.title}
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0, maximum-scale=1.0' }
    %link(rel="stylesheet" href="/css/bootstrap.min.css")
    %link(rel="stylesheet" href="/css/bootstrap-responsive.min.css")
    %link(rel="stylesheet" href="/css/style.css")
  %body.preview(data-spy='scroll' data-target='.subnav' data-offset='0')
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar.collapsed(data-toggle="collapse" data-target=".nav-collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="/") David Silveira
          #main-menu.nav-collapse
            %ul.nav
              %li
                %a(href="/#{@locale}") #{t.site.menu.home}
              %li
                %a(href="/#{@locale}/blog") #{t.site.menu.blog}
              %li
                %a(href="/#{@locale}/notes") #{t.site.menu.about}
              %li.dropdown
                %a.dropdown-toggle(href="#" data-toggle="dropdown") #{t.site.menu.languages}
                %ul.dropdown-menu(id="swatch-menu")
                  - r18n.available_locales.each do |locale|
                    %li
                      %a( href="/#{locale.code}" )= locale.title
    #wrapper.container
      %header
        %h4.muted
          #{@phrase}

      #content
        = yield
    %footer.footer.container
      %p.auxiliar-languages
        - r18n.available_locales.each do |locale|
          %a( href="/#{locale.code}" )= locale.title
          |
      %p
        #{t.site.footer.credits}
        %a(href='http://www.sinatrarb.com/') Sinatra
        , 
        %a(href='http://www.haml.com/') HAML
        #{t.site.and}  
        %a(href='http://twitter.github.com/bootstrap/') Twitter Bootstrap
    %script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    %script(src='/js/bootstrap.min.js')
    %script(src='/js/app.js')
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7541162-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();